<!DOCTYPE html>
<html lang="en">
<head>
    <title>Facebook Login</title>
</head>
<body>
<h1>Facebook Login</h1>
<button id="fb-login-button">Login with Facebook</button>
<div id="status"></div>
<div id="username"></div>
<div id="email"></div>
<script>
    const fbLoginButton = document.getElementById('fb-login-button');
    const statusDiv = document.getElementById('status');
    const emailDiv = document.getElementById('email');
    const usernameDiv = document.getElementById('username');

    window.fbAsyncInit = function () {
        FB.init({
            appId: '734519591686833',
            cookie: true,
            xfbml: true,
            version: 'v16.0'
        });

        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });

        fbLoginButton.addEventListener('click', (e) => {
            FB.login((response) => {
                statusChangeCallback(response);
            }, {scope: 'public_profile,email'});
        });
    };

    function statusChangeCallback(response) {
        if (response.status === 'connected') {
            testAPI(response.authResponse.accessToken);
        } else {
            statusDiv.innerHTML = 'Please log into this app with Facebook.';
        }
    }

    function testAPI(accessToken) {
        FB.api(
            '/me',
            'GET',
            {"fields": "id,name,email"},
            function (response) {
                emailDiv.innerHTML = 'Email ' + response.email;
                usernameDiv.innerHTML = 'Username ' + response.name;
                fetch('/api/v1/auths/facebook', {
                    method: 'POST',
                    body: JSON.stringify({accessToken: accessToken}),
                    headers: {'Content-Type': 'application/json'}
                })
                    .then(response => response.json())
                    .catch(error => {
                        console.error("error", error);
                    });
            }
        );
    }

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>
