<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Facebook Login</title>
</head>
<body>
<h1>Facebook Login</h1>
<button id="fb-login-button">Login with Facebook</button>
<div id="status"></div>
<div id="username"></div>
<div id="email"></div>
<script>
    const fbLoginButton = document.getElementById('fb-login-button');
    const statusDiv = document.getElementById('status');
    const emailDiv = document.getElementById('email');
    const usernameDiv = document.getElementById('username');
    const jwtToken = localStorage.getItem('jwtToken');


    window.fbAsyncInit = function () {
        FB.init({
            appId: '734519591686833',
            cookie: true,
            xfbml: true,
            version: 'v16.0'
        });

        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });

        fbLoginButton.addEventListener('click', () => {
            FB.login((response) => {
                statusChangeCallback(response);
            }, {scope: 'public_profile,email'});
        });
    };

    function statusChangeCallback(response) {
        if (response.status === 'connected') {
            testAPI(response.authResponse.accessToken);
        } else {
            statusDiv.innerHTML = 'Please log into this app with Facebook.';
        }

        if (jwtToken) {
            fbLoginButton.style.display = 'none';
            statusDiv.style.display = 'none';
        }
    }

    function showProfileUser() {
        if (jwtToken) {
            fetch('/api/v1/profile', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${jwtToken}`
                }
            }).then(response => {
                return response.json();
            }).then(user => {
                localStorage.setItem('userData', JSON.stringify(user));

                let userData = JSON.parse(localStorage.getItem('userData'));
                emailDiv.innerHTML = "Email: " + userData.email;
                usernameDiv.innerHTML = "Username: " + userData.username;
            }).catch(err => {
                console.log("error get profile user: ", err);
            })
        }
    }

    function testAPI(accessToken) {
        FB.api(
            '/me',
            'GET',
            {"fields": "name,email"},
            function () {
                fetch('/api/v1/auths/facebook', {
                    method: 'POST',
                    body: JSON.stringify({accessToken: accessToken}),
                    headers: {'Content-Type': 'application/json'}
                })
                    .then(response => response.json())
                    .then(data => {
                        localStorage.setItem('jwtToken', data.token);
                        showProfileUser();
                    })
                    .catch(error => {
                        console.error("error", error);
                    });
            }
        );
    }

    showProfileUser();

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>
